<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref="all_file"/>
      <appender-ref ref="debug_file"/>
      <appender-ref ref="info_file"/>
      <appender-ref ref="warn_file"/>
      <appender-ref ref="error_file"/>
      <appender-ref ref="fatal_file"/>
    </root>
    <!-- Console에 로그를 기록하는 Appender -->
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <!-- 모든 로그를 File에 기록하는 Appender -->
    <appender name="all_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\All\\" />
      <datepattern value="'ALL'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <!-- Operation 로그를 File에 기록하는 Appender -->
    <appender name="debug_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\Operation\\" />
      <datepattern value="'Operation'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <!-- INFO 로그를 File에 기록하는 Appender -->
    <appender name="info_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\Info\\" />
      <datepattern value="'Info'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <!-- WARN 로그를 File에 기록하는 Appender -->
    <appender name="warn_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\Warnning\\" />
      <datepattern value="'Warnning'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <!-- ERROR 로그를 File에 기록하는 Appender -->
    <appender name="error_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\Error\\" />
      <datepattern value="'Error'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <!-- Fatal한 로그를 File에 기록하는 Appender -->
    <appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\Crux\\DATA\\LOG\\GUI\\Fatal\\" />
      <datepattern value="'Fatal'_yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>